body{
    font-family: 'Open Sans', sans-serif;
}
.my_footer {

    padding-top : 10px;
    background-color : blue;
    font-size : 14px;
    padding-bottom : 10px;

}
.nav-link{

    letter=spacing : .2em;
    font-size : 12px;
    text-transform : uppercase;

}

.dropdown-link{

    letter=spacing : .2em;
    font-size : 12px;
    text-transform : uppercase;

}

.my_row {

    padding-top : 15px;

}
.my_row .mx_auto{

        color : black;
        font-size : 12px;

}
.my_image {

    width : 100%;
    height : auto;

}
.my_title{

    font-size : 16px;
    text-transform : uppercase;
    letter-padding : .2em;
    color : red;

}
.my_img_pad{

 padding:5px;

}

.my_bottom_margin{

    margin-bottom : 10px;

}

.card_body{

    font-size : 14px;
    text-transform : uppercase;
    letter-spacing : .2em

}

/***product***/

.pro_class_row{

    padding=top:15px;
    padding-bottom:10px;

}
.pro_class_row .mx_auto{

    font-size:12px;
    text-decoration:none;

}

.pro_title{

    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;

}

.pro_text{

    padding-right:20px;

}
.search_text{

    padding-top:20px;

}

.custom_table{

    min-width:400px;
    font-size:14px;

}

.custom_thead{

    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:#f8f8fa!important;

}

.custom_a{

    text-decoration:none;

}

.custom_icon{

    text-decoration:none;
    color:black;

}

.custom_btn{

    margin-top:5px;

}